@{
    ViewBag.Title = "Index";
}



<h2>Get</h2>

<form action="/User/Login" method="get">
    Username: <input type="text" name="username" value="">
    Age: <input type="text" name="age" value="">
    <input type="submit" value="Submit">
</form>

<h2>Post</h2>

<form action="/User/Login" method="post">
    Username: <input type="text" name="username" value="">
    Age: <input type="text" name="age" value="">
    <input type="submit" value="Submit">
</form>